[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
python-dotenv = "*"
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
pgvector = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
python-multipart = "*"
openai = "*"
loguru = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
